.chart {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  overflow-y: auto;
}

.tasks {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  border-right: 1px solid black;
  background-color: white;
}

.task {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.task:last-child {
  border-bottom: none;
}

.timeline,
.timeline_wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  overflow-x: scroll;
  scrollbar-width: none;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timerow {
  display: flex;
  border-bottom: 1px solid black;
}

.timeline_wrapper {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.55);
}

.timerow:last-child {
  border-bottom: none;
}

.timeslot {
  border-right: 1px solid black;
  height: auto;
  width: 50px;
  z-index: -1;
  background-color: white;
}

.timeslot_1 {
  background-color: red;
}

.timeslot_2 {
  background-color: orange;
}

.timeslot_3 {
  background-color: gold;
}

.timeslot_4 {
  background-color: green;
}
